<%-include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
          <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Quote of the day!</h1>
              <h4 class="mb-4">Author: <%= quote.a %> </h4>
              <h5 class="mb-4">Quote: <%= quote.q %></h5>
            </div>
          </div>
        </div>
      </div>
    <h5 class="m-3 text-center"> Log in for more features!</h5>
<%- include("./partials/footer.ejs") %>
