<%-include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Quote of the day!</h1>
    <h2> Author: <%= quote.a %></h2>
    <h3> Quote: <%= quote.q %></h3>
    <ul>
    </ul>
    <%- include("./partials/footer.ejs") %>
