<%-include("./partials/head.ejs") %>
<body style="background-color: rgba(0, 0, 0, 0.9);">
  <%- include("./partials/nav.ejs") %>  
  <h1 class="d-flex justify-content-center text-light " style="background-color: rgba(0, 0, 0, 0.6);"> Random Quotes</h1>
  <% if (user) { %>
  <form method = 'POST' action = '/ranquotes' >
    <button type = 'submit' class="btn btn-dark">Add To My Quotes</button>
    </select>
    <% } %>
    <div class="container-fluild">  
      <div class="row d-flex justify-content-center">
      <% for (i of quote) { loop++%>
        <div class="card text-center m-2" style="width: 18rem;">
          <div class="card-body">
            <% if (user) { %>
            <input type='checkbox' name ="<%= loop %>" value="<%= loop %>" >
            <% } %>
              <h5 class="card-title"><%= i.a %></h5>
              <p class="card-text"><%= i.q %></p>
            <% if (user) { %>
            </input>
            <% } %>
          </div>
        </div>
      <% } %>
      </div>
    </div>
    <% if (user) { %>
    <button type = 'submit' class="btn btn-dark">Add To My Quotes</button>
  </form>
  <% } %>
<%- include("./partials/footer.ejs") %>
