<%-include("../partials/head.ejs") %>
<body style="background-color: rgba(0, 0, 0, 0.9);">
  <%- include("../partials/nav.ejs") %>
  <h1 class="d-flex justify-content-center text-light " style="background-color: rgba(0, 0, 0, 0.6);"><%= user.name %> Quotes</h1>  
    <% if (user) { %>
    <form method = 'POST' action = '/myquotes'>
      <div class="text-center">
        <button type = 'submit' class="btn btn-dark">Remove From Quotes</button>
      </div>
        <% } %>
        <div class="container-fluild">  
          <div class="row d-flex justify-content-center">
          <% for (i of quote) { loop++%>
            <div class="card text-center m-2" style="width: 18rem;">
              <div class="card-body">
                <% if (user) { %>
                <input type='checkbox' name ="<%= loop %>" value="<%= loop %>" >
                <% } %>
                  <h5 class="card-title"><%= i.fakeauth %></h5>
                  <p class="card-text"><%= i.quote %></p>
                <% if (user) { %>
                </input>
                <% } %>
              </div>
            </div>
          <% } %>
          </div>
        </div>
        <% if (user) { %>
        <div class="text-center">
          <button type = 'submit' class="btn btn-dark">Remove From Quotes</button>
        </div>
      </form>
      <% } %>
<%- include("../partials/footer.ejs") %>
